.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  transition: background-color 0.6s ease;
}

.dot-active {
  background-color: #1eff00;
}

.dot-inactive {
  background-color: #ff0000;
}

/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 1px; /* Adjust the width as needed */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Style the scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Color of the thumb on hover */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
}

.p-tabview-nav {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important ;
}

.p-tabview-nav-link {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

/* Path: src\js\assets\css\custom.css */
